.Rproj*
.Rproj.user/407F5AE9/sources/prop/A0878A5F
.Rproj.user/407F5AE9/sources/s-83E54EC4/EAE0C24E
.Rproj.user/407F5AE9/sources/s-83E54EC4/EAE0C24E-contents
.Rproj.user/407F5AE9/sources/s-83E54EC4/lock_file
.Rproj.user/shared/notebooks/D26036FE-primeiro-projeto-de-data-science/1/s/chunks.json
.Rproj.user
.RData
.Rhistory
.gitattributes
